@media only screen and (min-width: 1024px ) {
	body:after {
		content:"1024";
	}
}
@media only screen and (max-width: 1024px)and(min-width: 780px ) {
	body:after {
		content:"780";
	}
}
@media only screen and (max-width: 780px)and(min-width: 300px ) {
	body:after {
		content:"300";
	}
}