.circle {
	position: relative;
	left:200px;
	top: 200px;
	background-color: #09b8c1;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	index-left: 250px;
	
	animation-name: fly;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

@keyframes fly {
	from {
		transform: rotate(0deg) translateX(-150px);

	}
	to {
		transform: rotate(360deg) translateX(-150px);

	}
	
}

