<h1>Wellcome to my Timetrack Tool</h1>

<p><a href="/about">About</a></p>

<!-- <img src="/assets/scared.gif" alt="Bart and Lisa scared about Spanish last elections"> -->
<%= image_tag "scared" %>
<p>Powered by <a href="http://ignaciodenuevo.com">IgnaciodeNuevo</a></p>