<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Lovers - Exercise</title>
</head>
<body>
	<h1>MOVIE LOVERS EXERCISE</h1>
	<p>Whatever</p>
	<form action="post">
		<input type="text">
	</form>
</body>