<html>
<head>
  <title>New task</title>
</head>
<body>
  <h1>Create task</h1>
<div id="article">
  <h2>Create a new task</h2>
  <p>
  <form action="/create_task" method="POST">
    <input type="text" name="task" placeholder="Introduce the new task" value = "">
    <button type="submit" name="submit" value="submit">SUBMIT</button>
  </form>
  </p>
</div>
</body>
</html>