<!-- views/index.erb -->
<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
  <link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>
	<h1>Online Calculator</h1>
	<a class="anchor" href="/add">Addition</a>
	<a class="anchor" href="/sub">Substraction</a>
	<a class="anchor" href="/mul">Multiplication</a>
	<a class="anchor" href="/div">Division</a>
</form>
</body>
</html>