<% if @entry.errors.any? %> 
	<ul>
		<% @entry.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<h2>Create a new time entry in <%= @project.name %></h2>

<%= render "form" %>