<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Login Exercise</title>
</head>
<body>
	<h1>MY HOME PAGE</h1>
	<form action="/content" method="POST">
  	<label for="name">Name:</label>
		<input type="text" id="name" name="user_name" />
		<label for="password">Password:</label>
		<input type="text" id="password" name="user_password" />
  	<button type="submit">Login</button>
  </form>
</body>