<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Login Exercise</title>
</head>
<body>
	<h1>CONTEND</h1>
	<img src="/ironhack.png" alt="">
  <form action="/logout" method="post">
  	<button type="submit">Logout</button>
  </form>
</body>