<h1>Welcome <%= session[:user]%>!</h1>
<a href="/logout">logout</a>
<form action='crear_twit' method='post'> 
	<input type="text" name="message">
	<button type="submit">Publicar</button>
</form>

<ul>
	<% @twits_to_print.each do |twit| %>
  		<li><%= twit.msg %></li>
	<% end %>
</ul>